$Hind-font: 'Hind Siliguri', sans-serif;
$Work-font: 'Work Sans', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
button:hover{
   box-shadow: 0 10px 10px 3px rgba(0, 0, 0, .2);
}

.content{
    max-width: 1440px;
    padding: 0 135px;
}
.prevTitle{
        display: flex;
        align-items: center;
        margin-bottom: 23px;
        .circle{
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #F07566;
            margin-right: 12px;
        }
        span{
            font-family: $Hind-font;
            color: #F07566;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 700;
            line-height: 32px
        }
        }
.title{
    width: 340px;
    font-family: $Hind-font;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    margin-bottom: 26px;
}

.header{
    position: relative;
    overflow: hidden;
    &__background{
        position: absolute;
        right: -20px;
        top: 0px;
        z-index: -100;
        
    }
    &__navbar{
        margin-bottom: 67px;
        position: relative;
        display: flex;
        width: 100%;
        margin-top: 16px;
        align-items: center;
        &--logo{
            font-weight: 700;
            font-size: 40px;
            line-height: 48px;
            margin-right: 42px;
            font-family: $Hind-font;
        }
        &--links{
            ul{
                display: flex;
                li{
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 32px;
                    margin-right: 42px;
                    font-family: $Work-font;
                }
            }
        }
        &--btn{
           
            width: 138px;
            height: 48px;
            font-size: 16px;
            font-weight: 700;
            color:#F07566;
            background: none;
            border: 1px solid rgba(240, 117, 102, 0.236809);
            border-radius: 6px;
            font-family: $Hind-font;


        }
    }

    &__content{
        display: flex;
        justify-content: space-between;
        &--text{
            margin-top: 120px;

            .title{
                position: relative;
                &--text{
                    max-width: 330px;
                    font-family: $Hind-font;
                    font-weight: 700;
                    font-size: 72px;
                    line-height: 80px;
                    margin-bottom: 55px;
                    span{
                        color: #4eb282;
                        
                    }
                    img{
                        position: absolute;
                        top: 154px;
                    }
                }
            }
            .description{
                max-width: 470px;
                font-family: $Work-font;
                font-weight: 400;
                font-size: 20px;
                line-height: 32px;
                margin-bottom: 35px;
            }
            .btn{
                width: 154px;
                height: 48px;
                border: none;
                border-radius: 6px;
                color: white;
                font-family: $Hind-font;
                font-size: 16px;
                font-weight: 700;
                background-color: #F07566;
                text-transform: uppercase;
                margin-bottom: 208px;
            }

        }
    }
}

.about__block{
    display: flex;
    justify-content: space-between;
    margin-bottom: 85px;
    margin-top: 192px;
    &--text{

        
        .subtitle{
            font-size: 24px;
            font-weight: 700;
            font-family: $Hind-font;
            margin-bottom: 34px;
        }

        li{
            display: flex;
            margin-bottom: 10px;
            span{
                margin-left: 8px;
                font-size: 16px;
                font-weight: 400;
                font-family: $Work-font
            }
        }

    }
    &--btn{
        margin-top: 37px;
        width: 170px;
        height: 48px;
        border: none;
        background-color:#F07566;
        font-weight: 700;
        font-family: 16px;
        color: white;
        text-transform: uppercase;
        border-radius: 6px;
        font-family: $Hind-font;
    }
}

.tiles{
    position: relative;
    &__background{
        position: absolute;
        z-index: -100;
    }
    &__list{
        padding-top: 179px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 304px;
    }
    &__block{
        width: 270px;
        height: 368px;
        background-color: white;
        box-shadow: 0px 24px 48px rgba(0, 17, 86, 0.0799083);
        border-radius: 8px;
        padding: 32px 32px 32px 34px;
        &--img{
            width: 64px;
            height: 64px;
        }
        &--imgShadow{
            width: 64px;
            height: 64px;
            display: none;
        }
        &--title{
            margin-top: 89px;
            text-transform: uppercase;
            font-family: $Hind-font;
            font-weight: 700;
            font-size: 24px
        }
        &--description{
            margin-top: 18px;
            font-family: $Work-font;
            font-size: 16px;
            font-weight: 400;
            color: #3333337F;
            opacity: 50%;

        }
    }
    
}

.features{
    &__block{
        display: flex;
        justify-content: space-between;
        &--text{
            .title{
                width: 387px;
                margin-bottom: 28px;
            }
            .description{
                max-width: 470px;
                font-size: 16px;
                font-family: $Work-font;
                font-weight: 400;
                color: #333333;
                margin-bottom: 21px;
            }
            .window{
                width: 470;
                height: 144px;
                box-shadow: 0px 24px 48px rgba(0, 17, 86, 0.0799083);
                border-radius: 8px;
                padding: 25px 32px;
                position: relative;
                &--wrapper{
                    position:absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 1;
                    z-index: 10;
                }
                &__header{
                    display: flex;
                    align-items: center;
                    margin-bottom: 11px;
                    span{
                        margin-left: 16px;
                        font-family: $Hind-font;
                        font-size: 24px;
                        font-weight: 700;
                    }
                    &--img{
                        width: 24px;
                        height: 23px;
                    }
                    &--imgShadow{
                        display: none;
                        width: 24px;
                        height: 23px;
                    }
                }
                &__description{
                    max-width: 406px;
                    font-family: $Work-font;
                    font-size: 14px;
                    font-weight: 400;
                    color: #3333337F;
                    opacity: 50%;

                }
            }
        }
    }
}








@media(max-width: 700px){
    .content{
        padding: 0 40px;
    }

    .header{
        &__navbar{
            .Burger--wrapper{
                width: 48px;
                height: 48px;
                background-color: #F07566;
                border-radius: 50%;
                position: absolute;
                right: 0;
                z-index: 3;
                span,
                span::before,
                span::after{
                    position: absolute;
                    top: 50%; margin-top: -1px;
                    left: 50%; margin-left: -11px;
                    display: block;
                    border-radius: 2px;
                    width: 22px;
                    height: 2px;
                    background-color: white;
                }   
                span::before, span::after{
                    content: " ";
                } 
                span::before{
                    transform: translateY(-7px);
                }
                span::after{
                    transform: translateY(7px);
                }       
            }
            .Burger--wrapper:hover{
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }

            &--links{
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #F07566;
                z-index: 2;
                transform: translateY(-100%);
                transition: 1s;
                ul{
                    display: block;
                    padding-top: 55px;
                    text-align: center;
                }
            }  
            &--btn{
                display: none;
            }
        }

        &__content--img{
            display: none;
        }
    }
}

.active{
    transform: translateY(0);
}
